:root {
    --background-color-light: white;
    --text-color-light: #141518;
    --background-color-dark: #141518;
    --color-dimmed: #515151;
    --color-dimmed-dark: #AFAFAF;
    --text-color-dark: white;

    --swal-background-light: white;
    --swal-background-dark: #2E3139;
    --swal-text-light: black;
    --swal-text-dark: white;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    letter-spacing: .2rem;
    font-weight: 300;
    margin: 0;
    height: 95svh;
}

body.dark-theme {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

a {
    color: inherit;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 400;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.article-body {
    font-family: "Noto Serif", serif;
    line-height: 1.75rem;
    font-size: 16px;
    font-weight: 400;
}

body.dark-theme .article-body {
    font-weight: 300;
}

#toast-container {
    bottom: 20px;
    position: fixed;
    display: flex;
    align-self: flex-end;
    z-index: 9999;
    height: 200px;
    width: 100%;
    pointer-events: none;
    /* background: black; */
}

.trial-swal-container {
    position: absolute !important;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 0 15px;
}

.blog-container {
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.buttons-cont {
    display: flex;
    justify-content: space-between;
}

.top-btns {
    display: flex;
    gap: 10px;
}

.left-butt-group {
    justify-content: flex-start;
}

.right-butt-group {
    justify-content: flex-end;
}

.article-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.article-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.35rem;
    padding-top: 0.35rem;
}

.article-content {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
}

.article-item:hover {
    background-color: rgb(225, 226, 235);
}

body.dark-theme .article-item:hover {
    background-color: #111114;
}

.date-cont {
    color: var(--color-dimmed);
    flex-shrink: 0;
    width: 60px;
    display: inline-flex;
    font-size: .9rem;
}

body.dark-theme .date-cont {
    color: var(--color-dimmed-dark);
}

.article-date {
    padding-bottom: 1rem;
    color: var(--color-dimmed);
}

body.dark-theme .article-date {
    color: var(--color-dimmed-dark);
}

.article-id {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    font-weight: 400;
}

body.dark-theme .article-id {
    font-weight: 300;
}

.inline-buttons-container {
    display: none;
    justify-content: flex-end;
    gap: 10px;
    flex-shrink: 0;
}

.article-item:hover .inline-buttons-container {
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: inherit;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.btn svg {
    width: 24px;
    height: 24px;
}

.small-btn {
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

.small-btn svg {
    height: 14px;
    width: 14px;
}

.btn:hover {
    background-color: rgba( 0, 0, 0, 0.1 );
}

.btn span {
    display: none;
}


body.dark-theme .btn {
    color: #fff;
    border-color: #444;
}

body.dark-theme .btn:hover {
    background-color: #3a3a3a;
}



/* DATES RESPONSIVE DISPLAY */
.date-year-month {
    display: none;
}

.date-full {

}

.date-year {
    display: inline;
}

/* Media queries for tablet and desktop */
@media screen and ( min-width: 768px ) {
    .blog-container {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    #toast-container {
        width: 650px;
    }

    .date-year {
        display: none;
    }

    .date-year-month {
        display: inline;
    }

    .date-cont {
        width: 120px;
    }
} 



/*  SWEET ALERTS 2 */

.custom-actions {
    flex-direction: column;
    margin-top: 20px;
}

.custom-delete-article-button {
    background: white;
    color: black;
    border-radius: 20px;
    width: 80px;
    border: 2px solid black;
}

.custom-delete-article-button:hover {
    background: #e7e7e7 !important;
}

.custom-cancel-button {
    background: white;
    color: rgb(116, 116, 116);
}

.custom-cancel-button:hover {
    background: white !important;
    color: black;
}

.custom-cancel-edit-button {
    background: white;
    color: black;
    border-radius: 20px;
    width: 120px;
    border: 2px solid black;
}

.custom-cancel-edit-button:hover {
    background: #e7e7e7 !important;
}



/* Dark Mode Sweet Alert 2 */

body.dark-theme .swal2-popup {
    background-color: var(--swal-background-dark);
    color: var(--swal-text-dark);
}

body.dark-theme .swal2-title,
body.dark-theme .swal2-content {
    color: var(--swal-text-dark);
}

body.dark-theme .custom-delete-article-button,
body.dark-theme .custom-cancel-edit-button {
    background: var(--swal-background-dark);
    color: var(--swal-text-dark);
    border-color: var(--swal-text-dark);
}

body.dark-theme .custom-delete-article-button:hover,
body.dark-theme .custom-cancel-edit-button:hover {
    background: #2a2a2a !important;
}

body.dark-theme .custom-cancel-button {
    background: var(--swal-background-dark);
    color: #a0a0a0;
}

body.dark-theme .custom-cancel-button:hover {
    background: var(--swal-background-dark) !important;
    color: var(--swal-text-dark);
}